{% extends 'layout.html.twig' %}

{% block title %}Article{% endblock %}

{% block container %}
    <h1>Article</h1>
<div class="d-flex mt-5">
    <div class= "col-md-5">
        <img class="card-img-top" src="https://random.imagecdn.app/500/150" alt="Card image cap">
    </div>
    <div class="col-md-7">
        <div>
            <label>Title : {{ article.title }}</label>
        </div>
        <div>
             <label>Description : {{ article.description }}</label>
        </div>
        <div>
            <label>Price : {{ article.price }}</label>
        </div>
        <div>
            <th>CreatedAt : {{ article.createdAt ? article.createdAt|date('Y-m-d') : '' }}</th>
        </div>
        <div>
            <label>UpdatedAt : {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</label>
        </div>
        <div>
            <a href="{{ path('article_index') }} " class="btn btn-primary">back to list</a> 
            <a href="{{ path('article_edit', {'id': article.id}) }}"  class="btn btn-primary">edit</a>
        </div>
    </div>
</div>


    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
